APP_NAME=ktravels-publicsite-api
APP_ENV=development
APP_PORT=8080

MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=ktravels_publicsite

GRAPHQL_PLAYGROUND_ENABLED=true
GRAPHQL_INTROSPECTION_ENABLED=true