APP_NAME=ktravels-publicsite-api
APP_ENV=development
APP_PORT=8080
APP_LOGGER_LEVEL=info
APP_LOGGER_FORMAT=json

MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=ktravels_publicsite

GRAPHQL_PLAYGROUND_ENABLED=true
GRAPHQL_INTROSPECTION_ENABLED=true

RABBITMQ_HOSTNAME=localhost
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
